html {
  margin:0;
   background: #333;
   font-family: helvetica;
   max-width:1920px;
}

body {
   margin: 0;
}

#exampleText1 {
   display: hidden;
}

.container {

   width: 1005px;
   height: 100%;
   margin: 0 auto;
   padding: 30px;
}

h1 {
   margin: 0;
   color:#bbb;
   font-size:1.85em;
}

.examples {
   text-align: center;
   margin-left:15px;
}

.image:hover {
   -webkit-transform: scale(1.35);
   transform: scale(1.35);
   opacity: .9;
}

.image {
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
   padding: 15px;
   margin:auto;

}

/*#example1:hover {
   opacity: .1;
}*/

span.text-content {
   
   color: white;
   cursor: pointer;
   display: table;
   height: 150px;
   left: 15px;
   position: absolute;
   top: 15px;
   width: 280px;
   opacity: 0;
   -webkit-transition: opacity 500ms;
   -moz-transition: opacity 500ms;
   -o-transition: opacity 500ms;
   transition: opacity 500ms;
}

span.text-content span {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

ul.img-list {
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}

ul.img-list li {
   display: inline-block;
   height: 150px;
   margin: 0 1em 1em 0;
   position: relative;
   width: 280px;
}

ul.img-list li:hover span.text-content {
   opacity: 1;
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
}
a:link {
    text-decoration: none;
}

.banner{
   text-align:center;
   font-weight:800;
   padding-bottom:80px;
}
.sectionTitle{
   padding-left:40px;
   border-bottom:2px solid rgb(255, 255, 255);
   margin-bottom:20px;
   color: #f1f1f1;
}
li.image{
   margin:auto;
}

.sidenav {
    display: none;
    height: 400px;
    width: 100%;
    
    z-index: 6;
    top: 306px;
    position:relative;
    color:#eee;
    left:0;
    position:absolute;
    background: #555;
    background-repeat: no-repeat;
background-size: 100% 100%;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bbb;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
header{

  width:100%;
  padding-left:25%;
  background:#222;
  color:red;
  height:100px;
  padding-top:10px;
  font-weight: 700;
  font-size:1.5em;
}
p{
  margin:0;
}
#row2{
  position:relative;
}

.logo {
    height: 80px;
}

.main-header .background{
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05)), url('/images/background.webp') no-repeat;
    height: 600px;
    background-position:  right;
    background-size: 75%;
}

.main-header .navbar {
    justify-content: normal;
}

.main-header .left .logo {
    width: 100px;
    height: auto;
    display: inline-block;
}

.main-header .left .nav-liste {
    display: inline-block;
}
.main-header .left .nav-liste li {
    list-style: none;
    display: inline-block;
    padding: 0 12px;
}

.main-header .left li.nav-item a {
    color: white;
}

.main-header .left li.nav-item a:hover {
    text-decoration: none;
}