{% extends 'layout.twig' %}
{% block mainHeader %}
<div class="main-header">
  <div class="navbar">
    <div class="left">
      <a href="/" class="logo">
        <img id="box1" class="logo" src="images/logo.png" width="280" height="150"/>
      </a>
      <ul class="nav-liste">
        <li class="nav-item"><a href="">Accueil</a></li>
        <li class="nav-item"><a href="">Séries TV</a></li>
        <li class="nav-item"><a href="">Films</a></li>
        <li class="nav-item"><a href="">Ajouts Récents</a></li>
        <li class="nav-item"><a href="">Ma liste</a></li>
      </ul>
    </div>
    <div class="right">
      <div class="search">

      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
<th><a href="/connection/login" class="btn btn-primary btn-lg" name="btnconnection">Connection</a></th>
{% endblock %}
{% block body %}

<tbody>
<div class="container">

   <section id="row1">
   <h1 class="sectionTitle">Continue Watching for Username</h1>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Movie 1</a>
  
</div>
   
   <div class="examples">
      <ul class="img-list">
         <li class="image">
            <a href="#">
               <img id="box1" src="images/1.webp" width="280" height="150" />
               <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" onclick="openNav()" aria-hidden="true"></i></span></span>
            </a>
         </li>
        

         <li class="image">
            <a href="#">
               <img src="images/2.webp" width="280" height="150" />
               <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
            </a>
         </li>

         <li class="image">
            <a href="#">
               <img src="images/3.webp" width="280" height="150" />
               <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
            </a>
         </li>

      </ul>

   </div>

   </section>
   
   <section id="row2">
   <h1 class="sectionTitle">TV Shows</h1>
   <div class="examples">
      <ul class="img-list">
         <li class="image">
            <a href="#">
               <img src="images/4.webp" width="280" height="150" />
               <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
            </a>
         </li>

         <li class="image">
            <a href="#">
               <img src="images/5.webp" width="280" height="150" />
               <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
            </a>
         </li>

         <li class="image">
            <a href="#">
               <img src="images/6.webp" width="280" height="150" />
               <span class="text-content"><span>Title Here...<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
            </a>
         </li>

      </ul>
   </div>
   </section>
   <h1 class="sectionTitle">Row 3</h1>
   <div class="examples">
      <ul class="img-list">
         <li class="image">
            <a href="#">
               <img src="images/7.webp" width="280" height="150" />
               <span class="text-content"><i class="fa fa-chevron-up" aria-hidden="true"></i><br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br>Title Here...</span></span>
            </a>
         </li>

         <li class="image">
            <a href="#">
               <img src="images/8.webp" width="280" height="150" />
               <span class="text-content"><i class="fa fa-chevron-up" aria-hidden="true"></i><br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br>Title Here...</span></span>
            </a>
         </li>

         <li class="image">
            <a href="#">
               <img src="images/9.webp" width="280" height="150" />
               <span class="text-content"><i class="fa fa-chevron-up" aria-hidden="true"></i><br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br>Title Here...</span></span>
            </a>
         </li>

      </ul>
   </div>
</div>

    </tbody>
{% endblock %}
